In [1]:
import pandas as pd

In [1]:
import plotly.express as px 

df = px.data.iris() 
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species") 
fig.show()

In [2]:
def std_convert(str):
    if len(str) == 1:
        return f"0{str}"
    else:
        return str

In [4]:
# https://www.data.go.kr/data/15049591/fileData.do <= 표준산업분류코드 데이터
STD_TOBZ_M_df = pd.read_csv("dataset/고용노동부_표준산업분류코드(10차_통계청)_20230802.csv")
STD_TOBZ_M_df['고용업종코드(중분류)'] = STD_TOBZ_M_df['고용업종코드(중분류)'].astype(int).astype(str)
STD_TOBZ_M_df['고용업종코드(중분류)'] = STD_TOBZ_M_df['고용업종코드(중분류)'].apply(lambda x : std_convert(x))


STD_TOBZ_M_dic = dict(zip(STD_TOBZ_M_df['고용업종코드(중분류)'], STD_TOBZ_M_df['고용업종명(중분류)']))

STD_TOBZ_M_df

,연번,고용업종코드(대분류),고용업종명(대분류),고용업종코드(중분류),고용업종명(중분류),고용업종코드(소분류),고용업종명(소분류),고용업종코드(세세분류),고용업종명(세세분류)
0,1,A,농업 임업 및 어업,01,농업,11.0,작물 재배업,1110,곡물 및 기타 식량작물 재배업
1,2,A,농업 임업 및 어업,01,농업,11.0,작물 재배업,1121,채소작물 재배업
2,3,A,농업 임업 및 어업,01,농업,11.0,작물 재배업,1122,화훼작물 재배업
3,4,A,농업 임업 및 어업,01,농업,11.0,작물 재배업,1123,종자 및 묘목 생산업
4,5,A,농업 임업 및 어업,01,농업,11.0,작물 재배업,1131,과실작물 재배업
...,...,...,...,...,...,...,...,...,...
1192,1193,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동,97,가구 내 고용활동,970.0,가구 내 고용활동,97000,가구 내 고용활동
1193,1194,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동,98,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,981.0,자가 소비를 위한 가사 생산 활동,98100,자가 소비를 위한 가사 생산 활동
1194,1195,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동,98,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,982.0,자가 소비를 위한 가사 서비스 활동,98200,자가 소비를 위한 가사 서비스 활동
1195,1196,U,국제 및 외국기관,99,국제 및 외국기관,990.0,국제 및 외국기관,99001,주한 외국 공관
1196,1197,U,국제 및 외국기관,99,국제 및 외국기관,990.0,국제 및 외국기관,99009,기타 국제 및 외국기관

In [7]:
std_df

     표준산업분류코드                               표준산업분류(중)
0          01                                      농업
1          01                                      농업
2          01                                      농업
3          01                                      농업
4          01                                      농업
...       ...                                     ...
1192       97                               가구 내 고용활동
1193       98  달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동
1194       98  달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동
1195       99                               국제 및 외국기관
1196       99                               국제 및 외국기관

[1197 rows x 2 columns]

In [8]:
code = []
name = []
for i,row in STD_TOBZ_M_df.iterrows():
    code.append(row['고용업종코드(중분류)'])
    name.append(row['고용업종명(중분류)'])
else:
    std_df = pd.DataFrame({'표준산업분류코드':code,'표준산업분류(중)':name})
std_df.drop_duplicates()

     표준산업분류코드                               표준산업분류(중)
0          01                                      농업
22         02                                      임업
27         03                                      어업
34         05                         석탄 원유 및 천연가스 광업
36         06                                   금속 광업
...       ...                                     ...
1163       95                           개인 및 소비용품 수리업
1174       96                              기타 개인 서비스업
1192       97                               가구 내 고용활동
1193       98  달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동
1195       99                               국제 및 외국기관

[77 rows x 2 columns]

In [9]:
std_df.drop_duplicates().reset_index(drop=True).to_excel("표준산업분류코드표.xlsx", index=False)

In [10]:
km_data = pd.read_csv("dataset/20231215111146528_K103118_KB_2023년_회원수포함_ANSI.csv", encoding='cp949')
km_data = km_data[~km_data['표준산업세세분류코드'].isna()]
km_data['표준산업세세분류코드'] = km_data['표준산업세세분류코드'].astype(int).astype(str)
km_data['STD_TOBZ_M_C'] = km_data['표준산업세세분류코드'].apply(lambda x : x[:2])
km_data

,기준년월,고객_시도명,고객_시군구명,고객_행정동명,성별,연령대,표준산업세세분류코드명,표준산업세세분류코드,이용금액,이용건수,회원수,STD_TOBZ_M_C
0,202304,서울특별시,중구,다산동,여성,5.50대,한식 일반 음식점업,56111,24370810,683,222,56
1,202305,서울특별시,중구,약수동,남성,7.70대이상,영화관 운영업,59141,20000,3,3,59
2,202308,서울특별시,중구,신당5동,남성,6.60대,안경 및 렌즈 소매업,47822,129200,3,3,47
3,202308,경기도,동두천시,불현동,여성,3.30대,화초 및 식물 소매업,47851,79500,7,6,47
4,202304,경기도,동두천시,생연1동,여성,2.20대,노래 연습장 운영업,91223,154900,17,12,91
...,...,...,...,...,...,...,...,...,...,...,...,...
292384,202303,서울특별시,중구,동화동,여성,4.40대,전시 컨벤션 및 행사 대행업,75992,63600,4,3,75
292385,202309,전라남도,나주시,이창동,남성,4.40대,손해보험업,65121,2683970,6,4,65
292386,202310,서울특별시,중구,명동,남성,3.30대,화장품 비누 및 방향제 소매업,47813,482810,11,9,47
292387,202303,서울특별시,중구,신당동,남성,1.10대,김밥 및 기타 간이 음식점업,56194,333700,32,10,56
292388,202311,경기도,동두천시,송내동,남성,7.70대이상,시내버스 운송업,49212,353550,61,54,49

In [11]:
km_count_dic = dict(zip(km_data['STD_TOBZ_M_C'].value_counts().index,km_data['STD_TOBZ_M_C'].value_counts().values))
km_std = pd.DataFrame({'표준산업분류코드':sorted(km_data['STD_TOBZ_M_C'].unique())})
km_std['표준산업분류(중)'] = km_std['표준산업분류코드'].map(STD_TOBZ_M_dic)
km_std['데이터건수'] = km_std['표준산업분류코드'].map(km_count_dic)
km_std.sort_values(by='표준산업분류코드').reset_index(drop=True)

   표준산업분류코드             표준산업분류(중)   데이터건수
0        10               식료품 제조업    2981
1        29        기타 기계 및 장비 제조업     336
2        33             기타 제품 제조업    1977
3        35  전기 가스 증기 및 공기 조절 공급업    2459
4        41                종합 건설업     143
5        42              전문직별 공사업      60
6        45          자동차 및 부품 판매업     145
7        46           도매 및 상품 중개업     824
8        47           소매업; 자동차 제외  117038
9        49     육상 운송 및 파이프라인 운송업   17095
10       50                수상 운송업     194
11       51                항공 운송업    1334
12       52        창고 및 운송관련 서비스업    8269
13       55                   숙박업    4139
14       56             음식점 및 주점업   45413
15       58                   출판업     636
16       59   영상ㆍ오디오 기록물 제작 및 배급업    1555
17       60                   방송업     438
18       61              우편 및 통신업    9742
19       65              보험 및 연금업    9777
20       68                  부동산업    1574
21       71               전문 서비스업     943
22       73    기타 전문 과학 및 기술 서비스업    2630
23       75            사업 지원 서비스업    4715
24       76           임대업; 부동산 제외     557
25       84    공공 행정 국방 및 사회보장 행정    4584
26       85               교육 서비스업    3547
27       86                   보건업   13026
28       90     창작 예술 및 여가관련 서비스업    2166
29       91       스포츠 및 오락관련 서비스업   13911
30       94               협회 및 단체     301
31       95         개인 및 소비용품 수리업    5258
32       96            기타 개인 서비스업   14419

In [118]:
km_std.sort_values(by='표준산업분류코드').reset_index(drop=True).to_excel("국민카드_표준산업분류_데이터.xlsx", index=False)

In [19]:
sh_data = pd.read_csv("dataset/(최종)신한카드.csv")
sh_data['STD_TOBZ_M_C'] = sh_data['STD_TOBZ_M_C'].astype(str)
sh_data

,MGPO_NM_HOM,SGG_NM_HOM,NASD_NM_HOM,SEX_C,AGE_G5_C,STD_TOBZ_H_C,STD_TOBZ_H_NM,STD_TOBZ_M_C,STD_TOBZ_M_NM,STD_TOBZ_L_C,STD_TOBZ_L_NM,CLN_CNT,SL_CRI_YM,AMT,CNT
0,전남,나주시,공산면,F,50,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,*,202212,60000,4
1,경기,동두천시,불현동,M,10,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,*,202212,10000,4
2,전남,나주시,금천면,F,20,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,4,202212,720000,8
3,전남,나주시,영강동,F,30,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,6,202212,270000,13
4,전남,나주시,영산동,F,40,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,6,202212,3460000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190553,전남,나주시,금남동,M,40,J,정보통신업(58~63),59,영상ㆍ오디오 기록물 제작 및 배급업,591,"영화, 비디오물, 방송 프로그램 제작 및 배급업",*,202308,10000,*
190554,경기,동두천시,생연1동,M,40,J,정보통신업(58~63),59,영상ㆍ오디오 기록물 제작 및 배급업,591,"영화, 비디오물, 방송 프로그램 제작 및 배급업",*,202302,30000,*
190555,전남,나주시,왕곡면,F,40,J,정보통신업(58~63),59,영상ㆍ오디오 기록물 제작 및 배급업,591,"영화, 비디오물, 방송 프로그램 제작 및 배급업",*,202302,10000,*
190556,경기,동두천시,상패동,M,60+,J,정보통신업(58~63),59,영상ㆍ오디오 기록물 제작 및 배급업,591,"영화, 비디오물, 방송 프로그램 제작 및 배급업",*,202310,140000,*
190557,경기,동두천시,소요동,M,60+,J,정보통신업(58~63),59,영상ㆍ오디오 기록물 제작 및 배급업,591,"영화, 비디오물, 방송 프로그램 제작 및 배급업",3,202305,10000,3

In [20]:
sh_count_dic = dict(zip(sh_data['STD_TOBZ_M_C'].value_counts().index,sh_data['STD_TOBZ_M_C'].value_counts().values))
sh_std = pd.DataFrame({'표준산업분류코드':sorted(sh_data['STD_TOBZ_M_C'].unique())})
sh_std['표준산업분류(중)'] = sh_std['표준산업분류코드'].map(STD_TOBZ_M_dic)
sh_std['데이터건수'] = sh_std['표준산업분류코드'].map(sh_count_dic)
sh_std.sort_values(by='표준산업분류코드').reset_index(drop=True)

   표준산업분류코드               표준산업분류(중)  데이터건수
0        18           인쇄 및 기록매체 복제업   1842
1        21        의료용 물질 및 의약품 제조업   1223
2        29          기타 기계 및 장비 제조업    599
3        33               기타 제품 제조업   2750
4        34         산업용 기계 및 장비 수리업    302
5        45            자동차 및 부품 판매업   5089
6        46             도매 및 상품 중개업   2997
7        47             소매업; 자동차 제외  46394
8        49       육상 운송 및 파이프라인 운송업  11910
9        50                  수상 운송업   1415
10       51                  항공 운송업   2412
11       52          창고 및 운송관련 서비스업   3800
12       55                     숙박업   4012
13       56               음식점 및 주점업  11203
14       59     영상ㆍ오디오 기록물 제작 및 배급업   4014
15       60                     방송업    136
16       61                우편 및 통신업   8732
17       62  컴퓨터 프로그래밍 시스템 통합 및 관리업   4155
18       65                보험 및 연금업   4779
19       68                    부동산업   6303
20       71                 전문 서비스업   1603
21       73      기타 전문 과학 및 기술 서비스업   9808
22       75              사업 지원 서비스업   2008
23       76             임대업; 부동산 제외   2568
24       84      공공 행정 국방 및 사회보장 행정   4349
25       85                 교육 서비스업   6806
26       86                     보건업   9542
27       90       창작 예술 및 여가관련 서비스업   1671
28       91         스포츠 및 오락관련 서비스업   8882
29       94                 협회 및 단체   2357
30       95           개인 및 소비용품 수리업   7145
31       96              기타 개인 서비스업   9752

In [120]:
sh_std.sort_values(by='표준산업분류코드').reset_index(drop=True).to_excel("신한카드_표준산업분류_데이터.xlsx", index=False)

In [28]:
ss_data = pd.read_csv("dataset/삼성카드.csv")
ss_data['표준업종분류코드_중분류'] = ss_data['표준업종분류코드_중분류'].astype(str)
ss_data

,거주지_광역시도,거주지_시군구,거주지_행정동,성별,연령대,표준업종분류코드_대분류,표준업종분류명_대분류,표준업종분류코드_중분류,표준업종분류명_중분류,표준업종분류코드_소분류,표준업종분류명_소분류,이용기준년월,이용금액,이용건수,인당이용금액
0,경기,동두천시,소요동,M,50,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,202305,11000,2,6000
1,전남,나주시,금남동,M,30,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,202305,18000,2,9000
2,경기,동두천시,중앙동,M,30,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,202311,600000,2,600000
3,경기,동두천시,보산동,F,30,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,202307,23000,2,12000
4,서울,중구,장충동,M,60,Q,보건업 및 사회복지 서비스업(86~87),86,보건업,861,병원,202310,14000,2,14000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167170,서울,중구,소공동,F,30,R,"""예술, 스포츠 및 여가관련 서비스업(90~91)""",90,"""창작, 예술 및 여가관련 서비스업""",902,"""도서관, 사적지 및 유사 여가관련 서비스업""",202301,31000,2,16000
167171,경기,동두천시,송내동,F,20,R,"""예술, 스포츠 및 여가관련 서비스업(90~91)""",90,"""창작, 예술 및 여가관련 서비스업""",902,"""도서관, 사적지 및 유사 여가관련 서비스업""",202303,54000,2,27000
167172,경기,동두천시,생연1동,M,50,R,"""예술, 스포츠 및 여가관련 서비스업(90~91)""",90,"""창작, 예술 및 여가관련 서비스업""",902,"""도서관, 사적지 및 유사 여가관련 서비스업""",202311,8000,2,8000
167173,서울,중구,중림동,M,40,R,"""예술, 스포츠 및 여가관련 서비스업(90~91)""",90,"""창작, 예술 및 여가관련 서비스업""",902,"""도서관, 사적지 및 유사 여가관련 서비스업""",202303,137000,13,34000
167174,서울,중구,황학동,F,30,R,"""예술, 스포츠 및 여가관련 서비스업(90~91)""",90,"""창작, 예술 및 여가관련 서비스업""",902,"""도서관, 사적지 및 유사 여가관련 서비스업""",202307,71000,4,24000

In [29]:
ss_count_dic = dict(zip(ss_data['표준업종분류코드_중분류'].value_counts().index,ss_data['표준업종분류코드_중분류'].value_counts().values))
ss_std = pd.DataFrame({'표준산업분류코드':sorted(ss_data['표준업종분류코드_중분류'].unique())})
ss_std['표준산업분류(중)'] = ss_std['표준산업분류코드'].map(STD_TOBZ_M_dic)
ss_std['데이터건수'] = ss_std['표준산업분류코드'].map(ss_count_dic)
ss_std.sort_values(by='표준산업분류코드').reset_index(drop=True)

   표준산업분류코드              표준산업분류(중)  데이터건수
0        10                식료품 제조업    148
1        14  의복 의복 액세서리 및 모피제품 제조업    106
2        18          인쇄 및 기록매체 복제업   1117
3        29         기타 기계 및 장비 제조업   2229
4        30         자동차 및 트레일러 제조업      5
5        33              기타 제품 제조업    327
6        34        산업용 기계 및 장비 수리업     22
7        42               전문직별 공사업    809
8        45           자동차 및 부품 판매업    427
9        46            도매 및 상품 중개업   6075
10       47            소매업; 자동차 제외  46649
11       49      육상 운송 및 파이프라인 운송업  10445
12       50                 수상 운송업    598
13       51                 항공 운송업   2201
14       52         창고 및 운송관련 서비스업   5089
15       55                    숙박업   3277
16       56              음식점 및 주점업  11666
17       60                    방송업    358
18       61               우편 및 통신업   5951
19       65               보험 및 연금업   5401
20       66         금융 및 보험관련 서비스업   5586
21       68                   부동산업   1876
22       70                  연구개발업    207
23       71                전문 서비스업    119
24       73     기타 전문 과학 및 기술 서비스업   5067
25       74      사업시설 관리 및 조경 서비스업    591
26       75             사업 지원 서비스업   2366
27       76            임대업; 부동산 제외   1373
28       84     공공 행정 국방 및 사회보장 행정   4902
29       85                교육 서비스업   4273
30       86                    보건업   9741
31       87              사회복지 서비스업   1382
32       90      창작 예술 및 여가관련 서비스업   3440
33       91        스포츠 및 오락관련 서비스업   7111
34       94                협회 및 단체   1788
35       95          개인 및 소비용품 수리업   5771
36       96             기타 개인 서비스업   8682

In [30]:
ss_std.sort_values(by='표준산업분류코드').reset_index(drop=True).to_excel("삼성카드_표준산업분류_데이터.xlsx", index=False)

In [33]:
km_lst = sorted(km_std['표준산업분류코드'].unique())
sh_lst = sorted(sh_std['표준산업분류코드'].unique())
ss_lst = sorted(ss_std['표준산업분류코드'].unique())

In [34]:
std_lst = sorted(list(set(km_std['표준산업분류코드'])|set(sh_std['표준산업분류코드'])|set(ss_std['표준산업분류코드'])))

In [37]:
code = []
km = []
sh = []
ss = []
for i in std_lst:
    code.append(i)
    if i in km_lst:
        km.append('O')
    else:
        km.append('X')
    if i in sh_lst:
        sh.append('O')
    else:
        sh.append('X')
    if i in ss_lst:
        ss.append('O')
    else:
        ss.append('X')

name = []
for i in code:
    name.append(STD_TOBZ_M_dic[i])

existent_df = pd.DataFrame({'표준산업분류코드':code, '표준산업분류(중)':name, '국민':km, '신한':sh, '삼성':ss})
existent_df

   표준산업분류코드               표준산업분류(중) 국민 신한 삼성
0        10                 식료품 제조업  O  X  O
1        14   의복 의복 액세서리 및 모피제품 제조업  X  X  O
2        18           인쇄 및 기록매체 복제업  X  O  O
3        21        의료용 물질 및 의약품 제조업  X  O  X
4        29          기타 기계 및 장비 제조업  O  O  O
5        30          자동차 및 트레일러 제조업  X  X  O
6        33               기타 제품 제조업  O  O  O
7        34         산업용 기계 및 장비 수리업  X  O  O
8        35    전기 가스 증기 및 공기 조절 공급업  O  X  X
9        41                  종합 건설업  O  X  X
10       42                전문직별 공사업  O  X  O
11       45            자동차 및 부품 판매업  O  O  O
12       46             도매 및 상품 중개업  O  O  O
13       47             소매업; 자동차 제외  O  O  O
14       49       육상 운송 및 파이프라인 운송업  O  O  O
15       50                  수상 운송업  O  O  O
16       51                  항공 운송업  O  O  O
17       52          창고 및 운송관련 서비스업  O  O  O
18       55                     숙박업  O  O  O
19       56               음식점 및 주점업  O  O  O
20       58                     출판업  O  X  X
21       59     영상ㆍ오디오 기록물 제작 및 배급업  O  O  X
22       60                     방송업  O  O  O
23       61                우편 및 통신업  O  O  O
24       62  컴퓨터 프로그래밍 시스템 통합 및 관리업  X  O  X
25       65                보험 및 연금업  O  O  O
26       66          금융 및 보험관련 서비스업  X  X  O
27       68                    부동산업  O  O  O
28       70                   연구개발업  X  X  O
29       71                 전문 서비스업  O  O  O
30       73      기타 전문 과학 및 기술 서비스업  O  O  O
31       74       사업시설 관리 및 조경 서비스업  X  X  O
32       75              사업 지원 서비스업  O  O  O
33       76             임대업; 부동산 제외  O  O  O
34       84      공공 행정 국방 및 사회보장 행정  O  O  O
35       85                 교육 서비스업  O  O  O
36       86                     보건업  O  O  O
37       87               사회복지 서비스업  X  X  O
38       90       창작 예술 및 여가관련 서비스업  O  O  O
39       91         스포츠 및 오락관련 서비스업  O  O  O
40       94                 협회 및 단체  O  O  O
41       95           개인 및 소비용품 수리업  O  O  O
42       96              기타 개인 서비스업  O  O  O

In [40]:
existent_df[(existent_df['국민'] == 'O') & (existent_df['신한'] == 'O') & (existent_df['삼성'] == 'O')].to_excel('카드사_표준산업분류_공통항목.xlsx', index=False)

In [36]:
existent_df.to_excel('표준산업분류코드_존재여부2.xlsx', index=False)